---
import AboutHeroImage from '../assets/blog-placeholder-2.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Nicholas J. Poet"
	description="CV Nicholas Poet"
	pubDate={new Date('September 14 2025')}
	heroImage={AboutHeroImage}
>
	<h4>
		Professional Summary:
	</h4>
	<p>
		I am an effective leader and experienced engineer with over 8 years in software. 
		I have extensive knowledge and leadership experience in Agile, full-stack development from microservices and APIs to databasing and security. 
		Additional fields of interest/expertise include data science, blockchain technology, and fund administration.
	</p>
	<h4>
		Technical Skills:
	</h4>
	<p>
		Python (8+ yrs exp)
		Django (4)
		Flask (4)
		FastAPI (4+)
		Go (7+)
		REST APIs (9+)
		GraphQL (3)
		DevOps (6+)
		AWS (6+)
		Linux (7+)
		Git (8+)
		GCP (3+)
		Docker (7+)
		Kubernetes (5+)
		Helm (4)
		Terraform (2+)
		JavaScript (6+)
		React (5)
		Vue (3)
		Node (3+)
		MongoDB (5+) 
		Redis (4+)
		DocumentDB (2)
		PostgreSQL (6+) 
	</p>
	<h4>
		Professional Experience
	</h4>
	<h5>
		Software Engineer; Noteefy Inc.  |  Jan 2024  — Present
	</h5>
	<p>
		Created and managed web crawlers for hundreds of tee time origin sites etc
		...
	</p>
	<h5>
		Senior Cloud Developer; Intrusion Inc.   |   Nov 2022 — Apr 2023   
	</h5>
	<p>
		Designed and managed multi-cloud deployment of Go microservices for Intrusion's cloud solutions.
		Developed REST API framework for modernization of Intrusion's on-prem device management.
		Converted legacy Python API monolith to Golang microservice structure on AWS EC2 instances.
		Deployed/maintained production API cluster on EKS with CI/CD through CircleCI/ControlPlane. 
	</p>
	<h5>
		Lead Backend Developer; AllAthlete Inc.   |   July 2020 — Nov 2022
	</h5>
	<p>
		Managed a growing team (2-6) of backend developers responsible for data/DevOps infrastructure.
		Developed a robust set of Golang and Python REST APIs to support the AllAthlete platform.
		Deployed new Go REST APIs to replace less optimized Python implementations of internal services.
		Scaled services for rapid user growth and maintained availability/performance across our regions.
		Grew to over 125,000 total users across web and mobile platforms, with a significant %MAU.
		Created multiple token-based authentication systems for API services and frontend apps.
	</p>
	<h5>
		Data Engineer; Think Unlimited, L.L.C.   |   Mar 2020 — July 2020
	</h5>
	<p>
		Delivered custom software and data science solutions based around ETL pipelines.
		Built performant ETL pipelines using Python API/worker structures and MS SQL/PostgreSQL dbs.
		Led conversion of internal data processes (ETL, etc) to a new custom solution in Python.
		Developed automated client-market segmentation systems supported by Golang REST APIs.
	</p>
	<h5>
		Data Science Lead; tryptych inc.   |   Jan 2018 — Mar 2020	
	</h5>
	<p>
		Managed small (2-3) dev team delivering tailored software and data science solutions.
		Built custom data visualizations using Python and packages including pandas and matplotlib. 
		Created front-end frameworks with React fed by data from internal REST APIs written in Golang.
		Developed custom CRM and data management solutions using JS frameworks and Go APIs.
	</p>
	<h5>
		Engineering Lead; AQX Innovations L.L.C. (formerly Hades, L.L.C.)   |   Jan 2016 — Jan 2018
	</h5>
	<p>
		Managed a dev team of 3-5 employees as a leading contributor to our Golang codebase.
		Lead algorithmic development for digital exchanges in Golang with related smart contracts. 
		Developed and operated (Azure) predictive market-making algorithms using Python and Golang
		Created smart contracts using Solidity, Vyper, and Rust for market-making on digital exchanges.
		Created and maintained data pipelines for digital exchange order book analysis in Python.
	</p>
	<h5>
		Board of Directors (Director); The Drew Poet Foundation 501(c)(3)    |    Apr 2019 — Jan 2025
	</h5>
	<p>
		Handled web design and management, including online donations, databasing, and security.
		Organized fundraising events to support the Foundation's core mission of advancing research in pediatric cancer.
		Regulatory compliance for 501(c)(3), management of online funds
	</p>
	<h4>
		Education
	</h4>
	<h5>
		Bachelor of Arts; Political Science University of Michigan 
	</h5>
	<h6>
		Class of 2018
	</h6>
	<p>
		Concentration in Computer Science
	</p>
	<p>
		Member of Mens’ Rowing Team
	</p>
</Layout>
