---
import AboutHeroImage from '../assets/blog-placeholder-2.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Nicholas J. Poet"
	description="CV Nicholas Poet"
	pubDate={new Date('August 1 2025')}
	updatedDate={new Date('September 17 2025')}
>
	<h4>
		Professional Summary:
	</h4>
	<p>
		I am an effective leader and experienced engineer with over 8 years in software. 
		I have extensive knowledge and leadership experience in Agile, full-stack development from microservices and APIs to databasing and security. 
		Additional fields of interest/expertise include data science, blockchain technology, and sports statistics.
	</p>
	<h4>
		Technical Skills:
	</h4>
	<p>
		Python (8+ yrs exp)
		Django (4)
		Flask (4)
		FastAPI (4+)
		Go (7+)
		REST APIs (9+)
		GraphQL (3)
		DevOps (6+)
		AWS (6+)
		Linux (7+)
		Git (8+)
		GCP (3+)
		Docker (7+)
		Kubernetes (5+)
		Helm (4)
		Terraform (2+)
		JavaScript (6+)
		React (5)
		Astro (3+)
		Node (3+)
		MongoDB (5+) 
		Redis (4+)
		DocumentDB (2)
		PostgreSQL (6+) 
	</p>
	<h4>
		Professional Experience:
	</h4><p></p>
	<h5>
		Software Engineer; stoneweavr.
	</h5>
	<h6>
	    Jul 2025 — Present
	</h6>
	<li>
		Building custom integrations and bespoke webapps for a wide array of CRM and BI software.
	</li>
	<p></p>
	<h5>
		Software Engineer; Noteefy Inc.
	</h5>
	<h6>
	    Jan 2024  — Jul 2024
	</h6>
	<li>
	    Decreased overall alert latency and disk usage by a factor of 3 by parallelizing existing matching logic
	</li>
	<li>
		Created and managed web crawlers for hundreds of tee time origin sites
	</li>
	<li>
	    Built and integrated Member's priority features for private and semi-private clubs
	</li>
	<li>
	    Configured anti-bot software mitigation techniques across several web crawler types
	</li>
    <p></p>
	<h5>
		Senior Cloud Developer; Intrusion Inc.
	</h5>
	<h6>
	    Nov 2022 — Apr 2023
	</h6>
	<li>
		Designed and managed multi-cloud deployment of Go microservices for Intrusion's cloud solutions.
	</li>
	<li>
		Developed REST API framework for modernization of Intrusion's on-prem device management.
	</li>
	<li>
		Converted legacy Python API monolith to Golang microservice structure on AWS EC2 instances.
	</li>
	<li>
		Deployed/maintained production API cluster on EKS with CI/CD through CircleCI/ControlPlane.
	</li>
	<p></p>
	<h5>
		Lead Backend Developer; AllAthlete Inc.
	</h5>
	<h6>
	    July 2020 — Nov 2022
	</h6>
	<li>
		Managed a growing team (2-6) of backend developers responsible for data/DevOps infrastructure.
	</li>
	<li>
	    Developed a robust set of Golang and Python REST APIs to support the AllAthlete platform.
	</li>
	<li>
	    Deployed new Go REST APIs to replace less optimized Python implementations of internal services.
	</li>
	<li>
	    Scaled services for rapid user growth and maintained availability/performance across our regions.
	</li>
	<li>
	    Grew to over 125,000 total users across web and mobile platforms, with a significant %MAU.
	</li>
	<li>
	    Created multiple token-based authentication systems for API services and frontend apps.
	</li>
	<p></p>
	<h5>
		Data Engineer; Think Unlimited, L.L.C.
	</h5>
	<h6>
	    Mar 2020 — July 2020
	</h6>
	<li>
		Delivered custom software and data science solutions based around ETL pipelines.
	</li>
	<li>
	    Built performant ETL pipelines using Python API/worker structures and MS SQL/PostgreSQL dbs.
	</li>
	<li>
	    Led conversion of internal data processes (ETL, etc) to a new custom solution in Python.
	</li>
	<li>
	    Developed automated client-market segmentation systems supported by Golang REST APIs.
	</li>
	<p></p>
	<h5>
		Data Science Lead; tryptych inc.
	</h5>
	<h6>
	    Jan 2018 — Mar 2020
	</h6>
	<li>
		Managed small (2-3) dev team delivering tailored software and data science solutions.
	</li>
	<li>
	    Built custom data visualizations using Python and packages including pandas and matplotlib.
	</li>
	<li>
	    Created front-end frameworks with React fed by data from internal REST APIs written in Golang.
	</li>
	<li>
	    Developed custom CRM and data management solutions using JS frameworks and Go APIs.
	</li>
	<p></p>
	<h5>
		Engineering Lead; AQX Innovations L.L.C. (formerly Hades, L.L.C.)
	</h5>
	<h6>
	    Jan 2016 — Jan 2018
	</h6>
	<li>
		Managed a dev team of 3-5 employees as a leading contributor to our Golang codebase.
	</li>
	<li>
	    Lead algorithmic development for digital exchanges in Golang with related smart contracts.
	</li>
	<li>
	    Developed and operated (Azure) predictive market-making algorithms using Python and Golang.
	</li>
	<li>
	    Created smart contracts using Solidity, Vyper, and Rust for market-making on digital exchanges.
	</li>
	<li>
	    Created and maintained data pipelines for digital exchange order book analysis in Python.
	</li>
	<p></p>
	<h5>
		Board of Directors (Director); The Drew Poet Foundation 501(c)(3)
	</h5>
	<h6>
	    Apr 2019 — Jan 2025
	</h6>
	<li>
		Handled web design and management, including online donations, databasing, and security.
	</li>
	<li>
	    Organized fundraising events to support the Foundation's core mission of advancing research in pediatric cancer.
	</li>
	<li>
	    Regulatory compliance for 501(c)(3), management of online funds
	</li>
	<p></p>
	<h4>
		Education:
	</h4>
	<h5>
		Bachelor of Arts; Political Science - University of Michigan
	</h5>
	<h6>
		Class of 2018
	</h6>
	<h6>
		Concentration in Computer Science
	</h6>
	<h6>
		Member of Mens’ Rowing Team
	</h6>
</Layout>
