---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import HeroImage from '../assets/blog-placeholder-5.jpg';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import ScoreboardIsland from '../islands/ScoreboardIsland.jsx';
import TeamStatsIsland from '../islands/TeamStatsIsland.jsx';

import "../styles/scoreboard.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome</h1>
			<p>
				You have stumbled upon the portfolio site and personal blog of Nick Poet.
				Or you came here on purpose. Either way you should have something better to do.
				Here are some suggestions:
			</p>

			<section>
				<h3>Upcoming Games</h3>
				<ScoreboardIsland client:load />
			</section>

			<section>
              <h3>CFBData Statistical Reference</h3>
              <TeamStatsIsland client:load defaultTeam="Michigan" />
            </section>


			<h5>
				Site source:
			</h5>
			<p>
			    Astro is cool -- <a href="https://github.com/npoet/np-dev-astro" target="_blank">np-dev-astro</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
