---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import HeroImage from '../assets/blog-placeholder-5.jpg';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome</h1>
			<div class="hero-image">
				<Image width={1020} height={510} src={HeroImage} alt="" />
			</div>
			<p>
				You have stumbled upon the portfolio site and personal blog of Nick Poet. 
				Or you came here on purpose. Either way you should have something better to do.
			</p>
			<h5>
				Site source:
			</h5>
			<a href="https://github.com/npoet/np-dev-astro" target="_blank">np-dev-astro</a>
		</main>
		<Footer />
	</body>
</html>
